# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Environment Variables
.env

# Streamlit
.streamlit/secrets.toml

# Python Packaging
build/
dist/
*.egg-info/

# Model Cache (optional)
.cache/

# Logs
*.log